<% if current_user %>
  <script type="text/javascript">
    window.currentUser = <%= render(
      "api/users/user.json.jbuilder",
      user: current_user
    ).html_safe %></script>
<% end %>
<script type="text/javascript">
  window.form_half = "<%= image_url('form_half.png') %>"
  window.GitHub_Mark_64px = "<%= image_url('GitHub-Mark-64px.png') %>"
  window.GitHub_Mark_64px_green = "<%= image_url('GitHub-Mark-64px_green.png') %>"
  window.linkedin_logo = "<%= image_url('linkedin_logo.png') %>"
  window.linkedin_logo_green = "<%= image_url('linkedin_logo_green.png') %>"
  window.sherwood_logo_black = "<%= image_url('sherwood_logo_black.png') %>"
  window.sherwood_logo_green = "<%= image_url('sherwood_logo_green.png') %>"
  window.splash_phones = "<%= image_url('splash_phones.png') %>"
  window.stock_news = "<%= image_url('stock_news.jpg') %>"
</script>

<main id="root"><marquee>React is broke</marquee></main>